<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>

    <title>Каталог лицензий</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">

    <h1>Каталог лицензий</h1>

    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Наименование</th>
            <th>Количество устройств</th>
            <th>Продолжительность</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="license : ${licences}">
            <td th:text="${license.name}"/>
            <td th:text="${license.device_count}"/>
            <td th:text="${license.duration}"/>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>